main {
  margin: 20px;
  }
  
  .icon-menu {
   position: absolute;
   top: 1px;
   right: 2px;
   font-size: 2.75em;
  }
  
  .icon-menu + ul {
   display: none;
  }
  
  .icon-menu:hover + ul {
   display: block;
  }
  
  .heading-group-h1 {
   padding: 10px 20px 0;
  }

  ul {
    padding-left: 0px;
  }
  
  #filters li {
    list-style-type: none;
    display: inline;
    margin: 10px, 20px, 10px, 0px;
    padding-left: 0px;
  }
  
  img {
   margin: 15px;
   width: 70%;
  }
  
  .pull-left {
   float: left;
  }
  
  .pull-right {
   float: right;
  }
  
  .clearfix:after {
   content: “”;
   display: table;
   clear: both;
  }
  
  #about {
   margin-top: 15px;
  }
  
  footer {
   text-align: center;
   margin: 15px;
  }
  
  @media only screen and (min-width: 640px) {
   nav {
     margin-left: 40px;
   }
  
   img {
     width: auto;
   }
  
   .icon-menu{
     display:none;
   }
  
   .icon-menu + ul {
     display: block;
   }
  }