nav {
  font-size: 1.5em;
 }
 
 nav ul {
  list-style-type: none;
  padding: 0 4px 0 0;
 }
 
 nav li {
  padding: .75em 0 0.75em 4px;
  border-bottom: 1px solid lightgray;
 }
 
 /* hide template articles */
 .template {
  display:none;
 }
 
 /* show complete articles */
 .draft{
  display: block;
 }
 
 .byline {
  display: inline;
  color: #777;
 }
 
 .byline address {
  font-weight: bold;
  display: inline;
 }
 
 @media only screen and (min-width: 640px){
  nav li {
    border-bottom: none;
    display: inline;
  }
 }